<!-- views/partials/footer.ejs -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
    <span class="text-muted">
      <a href="/privacy" data-path="/privacy">Privacy Policy</a> |
      <a href="/terms" data-path="/terms">Terms of Service</a>
    </span>
    </div>
</footer>

<script src="/content/bootstrap.bundle.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>
