<%- include('../partials/header') %>

<!-- page-specific content -->
<div class="container mt-5">
  <h1>About Us</h1>
  <p>Volunteer Connect is a platform dedicated to connecting individuals with volunteering opportunities in their community. Our mission is to foster collaboration, engagement, and service.</p>
</div>

<!-- Search Results Container -->
<div class="container mt-4" id="searchResults">
  <!-- Search results will be dynamically inserted here -->
</div>

<%- include('../partials/footer') %>